.card {
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  margin-bottom: 1.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .1875rem;
}

.cardHeader {
  padding: .9375rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.02);
  border-bottom: 1px solid rgba(0,0,0,.125);
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin: 0;
    font-weight: 500;
  }
}

.cardHeaderActionsInline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.cardHeaderActions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  background-color: transparent;
  border: 0;
  margin-left: 0;
  margin-right: 0;
  button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: all ease-in-out .15s;
    &:not(:last-child) {
      margin-right: .375rem;
    }
    &:hover {
      opacity: .7;
    }
    &:focus {
      outline: 0;
    }
  }
}

.cardBody {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.cardFooter {
  padding: .9375rem 1.25rem;
  background-color: rgba(0,0,0,.02);
  border-top: 1px solid rgba(0,0,0,.125);
}