.nav {
  position: relative;
  left: -100%;
  transition: .5s;
  width: 0;
}

.navActive {
  left: 0;
  min-width: 240px;
  flex: 1;
}

.list {
  list-style: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.listHeader {
  padding: 33px 25px;
  background-color: #263238;
}

.listHeaderText {
  font-weight: 600;
}

.listItem {
  a {
    color: #ffffff;
    width: 100%;
    display: inline-block;
    padding: 14px 20px 14px 25px;
    opacity: .5;
    &:hover {
      opacity: 1;
      background-color: #293846;
    }
  }
}

.subLinks {
  list-style: none;
  padding: 0;
  overflow: hidden;
  transform-origin: top;
  height: 0;
  transition: all .5s ease-in-out;
  li {
    a {
      padding: 7px 10px 7px 36px;
    }
    &:last-child {
      a {
        padding-bottom: 16px;
      }
    }
  }
}

.showSubLinks {
  height: auto;
}

.current {
  border-left: 4px solid #19aa8d;
  background-color: #293846;
  opacity: 1 !important;
  & + ul {
    border-left: 4px solid #19aa8d;
    background-color: #293846;
    li {
      a {
        font-weight: 600;
        font-size: .8rem;
      }
    }
  }
}