.pagination {
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  list-style: none;
  margin: 0;
  text-align: right;
  li {
    display: inline-block;
  }
}

.pageLink {
  display: inline-block;
  cursor: pointer;
  padding: .4375rem;
  min-width: 2.25003rem;
  margin-left: .125rem;
  border-radius: .1875rem;
  text-align: center;
  color: #445565;
  transition: all ease-in-out .15s;
  &:hover {
    background-color: #f4f4f4;
  }
  &:first-child {
    margin-left: 0;
  }
}

.active {
  span {
    background-color: #f4f4f4;
  }
}

